.about-section{
   background: #000;  
   
   width: 100vw;
   display: flex;
   justify-content: center;
}

.about-section__content-container{
   padding: 90px 60px;  
   background: linear-gradient(to bottom, rgba(22, 22, 22, 0.9) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../../public/about-section-bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
   text-align: left;
}

.about-section__heading{
   color: #fff;
   text-align: center;
   font-size: 36px;
   font-weight: 400;
}

.about-section__body{
   color: rgba(255,255,255,0.7);
   font-size: 22px;
   font-weight: 400;
   max-width: 600px;
}