.blog-section__content-container{
    padding: 90px 60px;  
    padding: 150px 0;
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 25%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../../public/blog-banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: left;
}


.blog-section__heading{
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
 }
 
 .blog-section__body{
    font-size: 22px;
    font-weight: 400;
    max-width: 600px;
 }

 .blog-section__subscribe-form-container{
     width: 60%;
     display: flex;
     justify-content: center;
 }

 .blog-section__subscribe-form input{
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 18px 16px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 30px;
 }