.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    width: 100%;
    height: 100px;
}

.app-header__brand-name{
    display: inline-block;
    margin: 30px;
}

.app-header__menu-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.app-header__menu-list li{
    text-transform: uppercase;
    margin: 30px;
}